---
import Layout from "@layouts/Layout.astro";

const posts = Object.values(
  import.meta.glob("@content/posts/*.md", { eager: true })
);
---

<Layout>
  <h1>posts index page</h1>

  <ul>
    {
      posts.map((post) => (
        <a href={post.url}>
          <li>{post.frontmatter.title}</li>
        </a>
      ))
    }
  </ul>
</Layout>
