---
import { getCollection, getEntry, render } from "astro:content";
import PostLayout from "@layouts/PostLayout.astro";

const { slug } = Astro.params;
const post = await getEntry("posts", slug);
const { Content } = await render(post);

export async function getStaticPaths() {
  const posts = await getCollection("posts");
  return posts.map((post) => ({
    params: { slug: post.slug },
  }));
}
---

<PostLayout>
  <h1>{post.data.title}</h1>
  <Content />
</PostLayout>
